{% extends 'base.html.twig' %}

{% block title %}Réparation plastique{% endblock %}

{% block body %}

    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active" style="background-image: url('{{ asset('home/img/intro-carousel/plastiques_logo.jpg') }}')">
                        <div class="carousel-container d-flex justify-content-end">
                            <div class="carousel-content ml-5">
                                <h2 class="">Expert en <br>réparation plastique</h2>
                                <p class="">
                                    Nous réparons et remplaçons les pièces de vos emballages plastiques
                                    abimés pour rallonger leur durée de vie avec des délais d'exécution rapide.
                                </p>
                                <a href="#featured-services" class="btn-get-started scrollto">Découvrez-nous</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" style="background-image: url('{{ asset('home/img/intro-carousel/5.jpg') }}');">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Réparer au lieu d'acheter du neuf</h2>
                                <p>
                                    {#Les polypropylènes (PP) et les polyéthylènes (PE) sont des thermoplastiques réparables.
                                    Pourquoi acheter plus cher du neuf alors qu'on peut faire réparer à neuf moins cher ?#}
                                    En favorisant la réparation et la réutilisation de vos emballages plastiques, vous économisez en temps et en argent
                                    et réduisez considérablement l'empreinte écologique de votre entreprise.
                                </p>
                                <a href="#featured-services" class="btn-get-started scrollto">Découvrez-nous</a>
                            </div>
                        </div>
                    </div>

                    {#<div class="carousel-item" style="background-image: url('{{ asset('home/img/intro-carousel/3.jpg') }}');">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Temporibus autem quibusdam</h2>
                                <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Découvrez-nous</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" style="background-image: url('{{ asset('home/img/intro-carousel/4.jpg') }}');">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Nam libero tempore</h2>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Découvrez-nous</a>
                            </div>
                        </div>
                    </div>#}

                    <div class="carousel-item" style="background-image: url('{{ asset('home/img/intro-carousel/plasturgie1.png') }}');">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>En amont du recyclage</h2>
                                <p>
                                    {{ entreprise_nom }} est votre partenaire fiable pour prolonger la durée de vie de vos emballages plastiques
                                    et permet ainsi de préserver l'extraction de nouvelles ressources naturelles et de l'environnement.
                                </p>
                                <a href="#featured-services" class="btn-get-started scrollto">Découvrez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section>
    <!-- #intro -->

    <main id="main">

        <!--==========================
          Featured Services Section
        ============================-->
        <section id="featured-services">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 box">
                        <i class="ion-settings"></i>
                        <h4 class="title"><a href=""><strong style="color: #18d26e;">R</strong>éparation</a></h4>
                        <p class="description text-justify">
                            {#La soudure par extrusion de plastique est la base de notre métier. Par conséquent, nous valorisons le
                            concept d'économie circulaire qui vise à apporter à nos clients des avantages à la
                            fois économiques et écologiques.#}
                            {#Il s'agit ici de la préparation des emballages plastiques en PP ou PE industriels et commerciaux
                            en vue de leur réutilisation dans la chaine de production. Ceci est la 1ère priorité de la hiérarchie
                            des modes de traitement privilégié au niveau Européen pour la gestion des déchets.#}
                            Nous réparons et remplaçons les pièces des emballages plastiques industriels et commerciaux par la soudure plastique.
                            <br>Notre savoir-faire dans la soudure par extrusion est le seul moyen efficace et durable pour
                            remettre à neuf les thermoplastiques (PE, PP) qui ont subit des dommages lors de leur usage dans la production.
                        </p>
                    </div>

                    <div class="col-lg-4 box box-bg">
                        <i class="ion-refresh"></i>
                        <h4 class="title"><a href=""><strong style="color: #18d26e;">R</strong>éutilisation</a></h4>
                        <p class="description text-justify">
                            Il permet principalement aux entreprises d'économiser de l'argent et du temps dans la gestion de leur parc d'emballages plastiques.
                            <br>Cette opération permet également d'éviter la fabrication du produit plastique
                            neuf à partir de matières premières extraites et de la pollution qu'ils causeraient à l'environnement.
                        </p>
                    </div>

                    <div class="col-lg-4 box">
                        <i class="ion-leaf"></i>
                        <h4 class="title"><a href=""><strong style="color: #18d26e;">R</strong>ecyclage</a></h4>
                        <p class="description text-justify">
                            {#Les thermoplastiques subissent des fissures, des pertes de pièces ou autres chocs au cours
                            de leurs utilisations mais fort heureusement ils sont réparables,
                            ce qui permet leur réemploi dans le cycle de production.#}
                            Pour la gestion durable des ressources naturelles de notre planète, nous jouons tous
                            un rôle essentiel dans la lutte contre les impacts environnementaux liés
                            à notre production. En adoptant les bonnes solutions, nous limitons les émissions
                            de gaz à effet de serre et la consommation d’eau liée à la production industrielle.




                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- #featured-services -->


        <!--==========================
         Services Section
       ============================-->
        <section id="services">
            <div class="container">
                <header class="section-header wow fadeInUp">
                    <h3>Nos Services</h3>
                    <p>Notre équipe est mobile, travaille de manière indépendante et professionnelle directement sur votre site
                        <br>afin de vous faire gagner du temps dans la gestion de votre parc d'emballages et de l'argent.</p>
                </header>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="{{ asset('home/img/intro-carousel/reparation.jpg') }}" alt="modele de reparation" width="100%" height="100%">
                    </div>
                </div>
                <header class="section-header wow fadeInUp mt-5">
                    <h3>Comment ça marche ? </h3>
                </header>
                <div class="row mt-5">
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-location"></i></div>
                        <h4 class="title text-capitalize"><a href="" onclick="return false;">1 - prendre rendez-vous</a></h4>
                        <p class="description">Il vous ait possible de prendre rendez-vous sur notre site internet en cliquant
                            <a href="{{ path('app_prise_rdv') }}">ici</a>, par téléphone ou même par mail</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-document-text"></i></div>
                        <h4 class="title text-capitalize"><a href="" onclick="return false;">2 - devis personnalisé</a></h4>
                        <p class="description">Nous nous déplacons directement sur votre site pour faire un devis personnalisé de vos emballages plastiques abimés</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-settings"></i></div>
                        <h4 class="title text-capitalize"><a href="" onclick="return false;">3 - réparation sur site</a></h4>
                        <p class="description">Notre savoir-faire nous permet de réparer vos emballages plastiques endommagés directement sur votre site</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-refresh"></i></div>
                        <h4 class="title text-capitalize"><a href="" onclick="return false;">5 - réutilisation</a></h4>
                        <p class="description">Votre produit est prêt à retrouver son utilisation d'origine, il peut à présent retourner dans votre chaine de production</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-checkmark"></i></div>
                        <h4 class="title text-capitalize"><a href="" onclick="return false;">4 - garantie</a></h4>
                        <p class="description">Parceque nous visons la perfection dans notre domaine, nous donnons une garantie sur tous nos travaux de réparations</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-thumbsup"></i></div>
                        <h4 class="title text-capitalize"><a href="" onclick="return false;">6 - fidélisation</a></h4>
                        <p class="description">La satisfaction client est notre 1ère priorité, c'est pourquoi nous nous engageons à fournir une prestation irréprochable</p>
                    </div>

                </div>

            </div>
        </section>
        <!-- #services -->

        <!--==========================
          Call To Action Section
        ============================-->
        <section id="call-to-action" class="wow fadeIn">
            <div class="container text-center">
                <h3>Besoin d'un devis ?</h3>
                <p>
                    Nous vous proposons un devis optimal et gratuit pour la réparation de vos bacs, caisses palettes, palettes
                    <br>ou conteneurs poubelles plastiques abimés directement au sein de votre entreprise.
                    <br>Nos déplacements d'expertises sont offertes au sein de la métropole lilloise.
                </p>
                <a class="cta-btn" href="{{ path('app_prise_rdv') }}">Je prends RDV</a>
            </div>
        </section>
        <!-- #call-to-action -->

        <!--==========================
          Skills Section
        ============================-->
        {#
        <section id="skills">
            <div class="container">

                <header class="section-header">
                    <h3>Our Skills</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </header>

                <div class="skills-content">

                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">HTML <i class="val">100%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">CSS <i class="val">90%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">JavaScript <i class="val">75%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Photoshop <i class="val">55%</i></span>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        #}
        <!--==========================
          Facts Section
        ============================-->
        {#
        <section id="facts"  class="wow fadeIn">
            <div class="container">

                <header class="section-header">
                    <h3>Facts</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </header>

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">274</span>
                        <p>Clients</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">421</span>
                        <p>Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">1,364</span>
                        <p>Hours Of Support</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">18</span>
                        <p>Hard Workers</p>
                    </div>

                </div>

                <div class="facts-img">
                    <img src="img/facts-img.png" alt="" class="img-fluid">
                </div>

            </div>
        </section>
        #}
        <!-- #facts -->

        <!--==========================
          Clients Section
        ============================-->
        {#
        <section id="clients" class="wow fadeInUp">
            <div class="container">

                <header class="section-header">
                    <h3>Our Clients</h3>
                </header>

                <div class="owl-carousel clients-carousel">
                    <img src="img/clients/client-1.png" alt="">
                    <img src="img/clients/client-2.png" alt="">
                    <img src="img/clients/client-3.png" alt="">
                    <img src="img/clients/client-4.png" alt="">
                    <img src="img/clients/client-5.png" alt="">
                    <img src="img/clients/client-6.png" alt="">
                    <img src="img/clients/client-7.png" alt="">
                    <img src="img/clients/client-8.png" alt="">
                </div>

            </div>
        </section>
        #}
        <!-- #clients -->

        <!--==========================
          Clients Section
        ============================-->
        {#<section id="testimonials" class="section-bg wow fadeInUp">
            <div class="container">

                <header class="section-header">
                    <h3>Ce que nous faisons ...</h3>
                </header>

                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <img src="{{ asset('home/img/testimonial-1.jpg') }}" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <img src="{{ asset('home/img/quote-sign-left.png') }}" class="quote-sign-left" alt="">
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            <img src="{{ asset('home/img/quote-sign-right.png') }}" class="quote-sign-right" alt="">
                        </p>
                    </div>#}

                    {#<div class="testimonial-item">
                        <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                            <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                    </div>#}

               {# </div>

            </div>
        </section>#}
        <!-- #testimonials -->

        <!--==========================
          Team Section
        ============================-->
        {#<section id="team">
            <div class="container">
                <div class="section-header wow fadeInUp">
                    <h3>Team</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 wow fadeInUp">
                        <div class="member">
                            <img src="img/team-1.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Walter White</h4>
                                    <span>Chief Executive Officer</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="member">
                            <img src="img/team-2.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Sarah Jhonson</h4>
                                    <span>Product Manager</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    #}{#<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="img/team-3.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>William Anderson</h4>
                                    <span>CTO</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="member">
                            <img src="img/team-4.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Amanda Jepson</h4>
                                    <span>Accountant</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>#}{#

                </div>

            </div>
        </section>#}
        <!-- #team -->


        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>Qui sommes-nous ?</h3>
                    <p class="text-justify">
                        <strong>{{ entreprise_nom }}</strong> est une société de réparation  et de remplacements des pièces d'emballages plastiques en polypropylène (PP) et polyéthylène (PE).
                        Nous sommes implantée dans les Hauts-de-France, au {{ entreprise_adresse }} à {{ entreprise_ville }}.
                        Spécialisée dans la réparation plastique, nous sommes réputés pour notre savoir-faire et notre sérieux quand il s'agit d'offrir une qualité de travail optimale avec des délais d'execution rapides.
                        Ces emballages plastiques sont principalement utilisés pour le stockage et le transport.
                        Ils peuvent être entre autres des bacs, des caisses palettes, des palettes et des conteneurs poubelles en plastique.
                        Nous suivons à la lettre les directives DVS-2212 et 2221 dans le cadre de notre processus de réparation.
                    </p>
                </header>

                <div class="row about-cols">

                    <div class="col-md-4 wow fadeInUp">
                        <div class="about-col">
                            <div class="img">
                                <img src="{{ asset('home/img/about-mission.jpg') }}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="" onclick="return false;">Notre Mission</a></h2>
                            <p class="text-justify">
                                Innover dans la réutilisation des emballages plastiques industriels et commerciaux abimés en se basant sur l'économie circulaire
                                pour faire gagner du temps et de l'argent à nos clients.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="about-col">
                            <div class="img">
                                <img src="{{ asset('home/img/about-plan.jpg') }}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-list-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="" onclick="return false;">Notre Plan</a></h2>
                            <p class="text-justify">
                                {#Nous reduisons la quantité d'emballages plastiques industriels et commerciaux en fin de vie et favorisons leur
                                réutilisation dans la chaine de production de nos clients en procédant à leur réparation.#}
                                Nous gerons votre parc d'emballages plastiques en réparant directement sur place,
                                cela signifie que vos emballages abimés ne quitte pas votre site et sont immédiatement réutilisés dans votre processus de production.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="about-col">
                            <div class="img">
                                <img src="{{ asset('home/img/about-vision1.jpg') }}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="" onclick="return false;">Notre Vision</a></h2>
                            <p class="text-justify">
                                Nous aspirons à aller plus loin dans le recyclage en rallongeant la durée de vie des plastiques recyclables.
                                La réutilisation de ceux-ci diminuerait considérablement les déchets et favoriserait l'économie circulaire.

                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- #about -->



        <!--==========================
          Contact Section
        ============================-->
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">

                <div class="section-header">
                    <h3>Contactez-nous</h3>
                    <p>
                        Pour nous contacter par e-mail, remplissez soigneusement le formulaire ci-dessous.
{#                        <br>Nous sommes également joignable au numéro ci-dessous.#}
                    </p>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Adresse</h3>
                            <address>
                                {{ entreprise_adresse }},<br>
                                {{ entreprise_cp }} {{ entreprise_ville }}, {{ entreprise_pays }}
                            </address>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Téléphone</h3>
                            <p><a href="tel:+155895548855">{{ entreprise_tel }}</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>E-mail</h3>
                            <p><a href="mailto:{{ entreprise_email }}">{{ entreprise_email }}</a></p>
                        </div>
                    </div>

                </div>

                <div class="form">
                    <div id="sendmessage">Merci de nous avoir envoyé votre message, nous reviendrons très vite vers vous !</div>
                    <div id="errormessage">{{ form_errors(contactForm) }}</div>
                    {{ form_start(contactForm, {'class' : 'contactForm'}) }}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form_widget(contactForm.entreprise) }}
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_widget(contactForm.email) }}
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form_widget(contactForm.nom) }}
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_widget(contactForm.objet) }}
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_widget(contactForm.message) }}
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Envoyez-nous votre message</button></div>
                    {{ form_end(contactForm) }}
                </div>

            </div>
        </section>
        <!-- #contact -->

    </main>

{% endblock %}
