<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('home/lib/bootstrap/css/bootstrap.min.css')) }}">

</head>
<body>
    <div class="d-flex justify-content-between mb-2">
{#        <h3 class="font-weight-bold">{{ entreprise_nom }}</h3>#}
        <div class="">
            <img src="{{ absolute_url(asset('home/img/logo_180.jpg')) }}" height="120" alt="PLASTIC R³">
        </div>
        <div class="card mt-5">
            <div class="card-header font-weight-bold text-white bg-dark">
                <h2 class="">Devis</h2>
            </div>
        </div>
    </div>
    <hr class="border-success m-0">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ absolute_url(asset('admin/assets/libs/jquery/dist/jquery.slim.min.js')) }}"></script>
<script src="{{ absolute_url(asset('admin/assets/libs/popper.js/dist/popper.min.js')) }}"></script>
<script src="{{ absolute_url(asset('admin/assets/libs/bootstrap/dist/js/bootstrap.min.js')) }}"></script>
</body>
</html>


