{% extends 'admin/tableau_de_bord.html.twig' %}

{% block title %}{% endblock %}

{% block page_content %}
    <div class="card">
        <div class="card-title"><h1 class="d-flex justify-content-center mt-3">Gestion des factures</h1></div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover table-secondary" id="tableau">
                    <thead class="text-uppercase">
                    <tr>
                        <th class="font-weight-bold" scope="col">Réf</th>
                        <th class="font-weight-bold" scope="col">Date</th>
                        <th class="font-weight-bold" scope="col">Echéance</th>
                        <th class="font-weight-bold" scope="col">Devis Ref</th>
                        <th class="font-weight-bold" scope="col">Client</th>
                        <th class="font-weight-bold" scope="col">TTC</th>
                        <th class="font-weight-bold" scope="col">Acompte</th>
                        <th class="font-weight-bold" scope="col">Solde</th>
                        <th class="font-weight-bold" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.reference }}</td>
                            <td>{{ commande.date|date('d/m/Y') }}</td>
                            <td>{{ commande.echeance|date('d/m/Y') }}</td>
                            <td>{{ commande.devis.reference}}</td>
                            <td>{{ commande.devis.client.designation}}</td>
                            <td>{{ commande.devis.prestation.totalTTC|number_format(2, ', ', ' ', ' ') }} €</td>
                            <td>{{ commande.acompte|number_format(2, ', ', ' ', ' ') }} €</td>
                            <td class="{% if commande.solde != null %}text-danger{% else %}text-success{% endif %} font-weight-bold">{{ commande.solde|number_format(2, ', ', ' ', ' ') }} €</td>

                            <td>
                                {% if commande.solde != null %}
                                    <a href="{{ path('admin_commande_envoi_facture_client', {'id' : commande.id}) }}"
                                       title="Envoi facture client" class="text-success">
                                        <i class="mdi mdi-inbox-arrow-up  font-24"></i>
                                    </a>
                                    <a href="{{ path('admin_commande_payement_facture', {'id' : commande.id}) }}"
                                       title="Editer facture" class="text-primary" target="_blank">
                                        <i class="mdi mdi-pen font-24"></i>
                                    </a>
                                {% endif %}
                                <a href="{{ path('admin_commande_facture_pdf', {'id' : commande.id}) }}"
                                   title="Consulter facture" class="text-danger" target="_blank">
                                    <i class="mdi mdi-file-pdf font-24"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
