<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | Plastic R Cube</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Réparation d'emballages plastiques en PP et PE cassés par soudure par extrusion pour le réemploi dans le cycle de production.
                        Cette pratique est économique et écologique pour les industries agroalimentaire, distribution, pharmacie, traitement des déchets."
              name="description">

        {% block stylesheets %}
            <!-- Favicons -->
            <link href="{{ asset('home/img/logo_32.jpg') }}" rel="icon">
            <link href="{{ asset('home/img/logo_180.jpg') }}" rel="apple-touch-icon">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

            <!-- Bootstrap CSS File -->
            <link href="{{ asset('home/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Libraries CSS Files -->
            <link href="{{ asset('home/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('home/lib/animate/animate.min.css') }}" rel="stylesheet">
            <link href="{{ asset('home/lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
            <link href="{{ asset('home/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
            <link href="{{ asset('home/lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

            <!-- Main Stylesheet File -->
            <link href="{{ asset('home/css/style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
                <!--==========================
                            Header
                    ============================-->
        {% include 'home/home_components/header.html.twig' %}

        {% block body %}{% endblock %}
                <!--==========================
                            Footer
                  ============================-->
        {% include 'home/home_components/footer.html.twig' %}

        {% block javascripts %}

            <!-- JavaScript Libraries -->
            <script src="{{ asset('home/lib/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('home/lib/jquery/jquery-migrate.min.js') }}"></script>
            <script src="{{ asset('home/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('home/lib/easing/easing.min.js') }}"></script>
            <script src="{{ asset('home/lib/superfish/hoverIntent.js') }}"></script>
            <script src="{{ asset('home/lib/superfish/superfish.min.js') }}"></script>
            <script src="{{ asset('home/lib/wow/wow.min.js') }}"></script>
            <script src="{{ asset('home/lib/waypoints/waypoints.min.js') }}"></script>
            <script src="{{ asset('home/lib/counterup/counterup.min.js') }}"></script>
            <script src="{{ asset('home/lib/owlcarousel/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('home/lib/isotope/isotope.pkgd.min.js') }}"></script>
            <script src="{{ asset('home/lib/lightbox/js/lightbox.min.js') }}"></script>
            <script src="{{ asset('home/lib/touchSwipe/jquery.touchSwipe.min.js') }}"></script>
            <!-- Contact Form JavaScript File -->
{#            <script src="contactform/contactform.js{{ asset('') }}"></script>#}

            <!-- Template Main Javascript File -->
            <script src="{{ asset('home/js/main.js') }}"></script>

        {% endblock %}
    </body>
</html>
